@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Roboto:wght@300;400&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Roboto', sans-serif; */

link{
  text-decoration: none;
  color:white;
}


